.DS_Store
ydisk_skillbox/.DS_Store
ydisk_skillbox/Pods/.DS_Store
ydisk_skillbox/Pods/Target Support Files/.DS_Store
ydisk_skillbox/ydisk_skillbox/.DS_Store
ydisk_skillbox/ydisk_skillbox/Data/.DS_Store
ydisk_skillbox/ydisk_skillbox/Screens/.DS_Store